/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color for the entire page */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

#the_cart ul li {
    list-style-type: none;
    padding: 10px;
}

#results {
    text-align: center;
}

#results img {
    height: 400px;
    width: auto;
}

#search-field {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the main content */
main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

form {
            margin: 20px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"] {
            padding: 5px;
        }

        input[type="submit"] {
            background-color: #478dff;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #478dff;
        }

        .result {
            margin: 20px;
            font-size: 18px;
        }

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .contact-info {
    margin-bottom: 20px;
}

footer h3 {
    font-size: 24px;
}

footer p {
    font-size: 18px;
    margin: 10px 0;
}

footer .social-media a {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
